*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
}

.container{
    width:90%;
    max-width:1100px;
    margin:10px auto;
}

.titulo-asistencia h2{
    margin-bottom:10px;
    font-size:50px;
    font-weight:bold;
}

table{
    width:100%;
    max-width:1100px;
    margin:40px auto;
    border-collapse:collapse;
    background:#fff;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    border-radius:20px;
    overflow:hidden;
}

thead{
    background:#2A4D3E;
    color:rgb(250,245,245);
}

th,
td{
    padding:15px;
    text-align:center;
    border:1px solid #ddd;
}

tbody tr:nth-child(even){
    background:#f8f9fa;
}

tbody tr:hover{
    background:#e9f3ff;
}

th{
    font-size:17px;
}

td{
    font-size:16px;
}

main{
    flex:1;    
    animation: slideInUp 0.5s ease-out forwards;

}


/* ===========================
   TABLETS
   =========================== */

@media (max-width:992px){

    .container{
        width:95%;
    }

    table{
        margin:30px auto;
    }

    th,
    td{
        padding:12px 8px;
        font-size:15px;
    }

}
.titulo-asistencia{
        padding:30px 20px;
    }

    .titulo-asistencia h2{
        font-size:36px;
    }


/* ===========================
   CELULARES
   =========================== */

@media (max-width:576px){

    .container{
        width:95%;
    }

    table{
        width:100%;
        margin:25px auto;
        border:none;
        box-shadow:0 4px 10px rgba(0,0,0,.15);
        background:transparent;
    }

    .titulo-asistencia h2{
        font-size:28px;
    }

    thead{
        display:none;
    }


    tbody,
    tr,
    td{
        display:block;
        width:100%;
    }

    tbody tr{
        background:#fff !important;
        margin-bottom:15px;
        border-radius:15px;
        overflow:hidden;
        box-shadow:0 4px 10px rgba(0,0,0,.12);
        border-left:5px solid #2A4D3E;
    }

    td{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:12px 15px;
        font-size:14px;
        text-align:right;
        border:none;
        border-bottom:1px solid #ddd;
    }

    td:last-child{
        border-bottom:none;
    }


    td:nth-child(1)::before{
        content:"Alumno";
        font-weight:bold;
        color:#2A4D3E;
    }

    td:nth-child(2)::before{
        content:"Fecha";
        font-weight:bold;
        color:#2A4D3E;
    }

    td:nth-child(3)::before{
        content:"Presente";
        font-weight:bold;
        color:#2A4D3E;
    }

    td:nth-child(4)::before{
        content:"Ausente";
        font-weight:bold;
        color:#2A4D3E;
    }

    td:nth-child(5)::before{
        content:"Justificado";
        font-weight:bold;
        color:#2A4D3E;
    }

}