* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-main: #aeaba6;
    --bg-main-tr: #aeaba67d;
    --bg-main2: #676766;
    --bg-main2-tr: #6767667f;
    --bg-main3: #3d3d3d;
    --bg-main3-tr: #222222ab;
    --bg-card: #FFFFFF;
    --bg-card-tr: #ffffff7e;
    --primary: #2A4D3E;
    --primary-tr: #2a4d3e7d;
    --text: #1C2826;
}

body.dark-mode {
    --bg-main: #0F172A;
    --bg-card: #1E293B;
    --primary: #2A4D3E;
    --text: #F8FAFC;
}

body {
    background-image: url(../assets/img/fondo.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* Main */
.titulo-cursos {
    max-width: 1100px;
    margin: 0 auto 25px;
    padding: 45px 30px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    background: linear-gradient(120deg, #1c382c, #2A4D3E, #597961);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.671);
}

.titulo-cursos h2 {
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: bold;
}

.card-cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
}

.card {
    width: 15rem;
    border-radius: 8px;
    transition: 0.4s;
}
.card:hover{
    transition: 0.5s;
    transform: translateX(-8px);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.644);
}

.card img{
    border-radius: 8px;
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-body .btn {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--primary);
    color: var(--bg-card);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #0f172a00;
    transition: 0.3s;
}

.card-body .btn:hover {
    background-color: var(--bg-main-tr);
    color: var(--bg-card);
    transition: 0.5s;
    transform: translateX(-8px);
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    backdrop-filter:blur(4px) ;
    border:1px solid var(--bg-card)
}

.card-text {
    background-color: var(--primary);
    border-radius: 8px;
    width: 55px;
    text-align: center;
    color: var(--bg-card);
}

.card-title {
    font-weight: bold;
}

.logo-alum {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.logo-alum i {
    display: flex;
    justify-content: center;
    color: #2A4D3E;
    font-size: 20px;
    line-height: 1;
    margin: 0;
}

.logo-alum p {
    margin: 0;
}