* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    webkit-scrollbar { display: none; }
    overflow: hidden;
}

:root {
    --bg-main: #aeaba6;
    --bg-main-tr: #aeaba67d;
    --bg-main2: #676766;
    --bg-main2-tr: #6767667f;
    --bg-main3: #3d3d3d;
    --bg-main3-tr: #222222ab;
    --bg-card: #FFFFFF;
    --bg-card-tr: #ffffff7e;
    --primary: #2A4D3E;
    --primary-tr: #2a4d3e7d;
    --text: #1C2826;
}

body.dark-mode {
    --bg-main: #0F172A;
    --bg-card: #1E293B;
    --primary: #2A4D3E;
    --text: #F8FAFC;
}

body {
    min-height: 100vh;
    background-image: url(../assets/img/Error404.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
    text-align: center;
    animation: slideInUp 0.5s ease-out forwards;
}
/* ================= ANIMACIÓN DE TRANSICIÓN ENTRE PÁGINAS ================= */
@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-volv {
    background: linear-gradient(135deg, #2A4D3E, #29362b);
    border: none;
    color: #fff;
    padding: 2rem 2.50rem;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.678);
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    white-space: nowrap;
    transition: transform 0.5s, border-radius 0.5s, letter-spacing 0.5s;
}

.btn-volv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #6f9276, #29362b);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.8s;
}

.btn-volv:hover {
    letter-spacing: 2px;
    border-radius: 45px;
}

.btn-volv:hover::before {
    opacity: 1;
}
#text{
    color: var(--bg-card);
    text-shadow:5px 5px 10px rgb(0, 0, 0) ;
    text-align: center;
    font-size: 40px;
    background-color: var(--primary-tr);
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    backdrop-filter:blur(4px) ;
    border: 1px solid var(--bg-main);
}
