
.registro-alumnos-contenido {
    max-width: 1600px;
    margin: 40px auto;
    padding: 0 100px;
}

.lista-alumnos {
    overflow: hidden;
    border:none;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.678);
    
}

.lista-alumnos .table {
    margin: 0;
     border:none;
    vertical-align: middle;
}

.lista-alumnos .table-dark th {
    padding: 15px 12px;
    color: white;
    white-space: nowrap;
    background-color: var(--primary);
    border:none;
}

.lista-alumnos .table td {
    padding: 14px 12px;
    color: var(--bg-main);
    background-color: var(--primary);
    border:none;
    transition: 0.6s;
    font-weight: bold;
    text-align: center;
}
.lista-alumnos .table:hover {
    background-color: var(--bg-main);
}

.lista-alumnos .btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 7px 16px;
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #2A4D3E, #29362b);
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.678);
    position: relative;
    overflow: hidden;
    z-index: 1;
    white-space: nowrap;
    transition: transform 0.5s, border-radius 0.5s, letter-spacing 0.5s;
}

.lista-alumnos .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #6f9276, #29362b);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.8s;
}

.lista-alumnos .btn:hover {
    border-radius: 45px;
}

.lista-alumnos .btn:hover::before {
    opacity: 1;
}

@media (max-width: 767px) {
    .registro-alumnos-main {
        padding: 0 0 40px;
    }

    .registro-alumnos-contenido {
        padding: 0 10px;
    }

    .lista-alumnos {
        padding: 15px;
    }

    .lista-alumnos::before {
        width: 100%;
        height: 6px;
    }
}
