
/* Contenedor */
.container-evaluaciones {
    max-width: 1100px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Tarjeta */
.card-evaluaciones {
    background: linear-gradient(135deg, #2A4D3E, #29362b);
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 20px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
}

.card-header-evaluaciones {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 24px;
    color: white;
    background: linear-gradient(135deg, #2A4D3E, #6f9276);
    border-radius: 20px;
}

.card-header-evaluaciones i {
    font-size: 22px;
}

.card-header-evaluaciones h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.card-evaluaciones .table-responsive {
    padding: 20px 24px 0;
}

.card-evaluaciones table {
    width: 100%;
    border-collapse: collapse;
    background: var(--primary);
}

.card-evaluaciones thead {
    background: linear-gradient(135deg, #2A4D3E, #6f9276);
    color: var(--bg-main);
}

.card-evaluaciones th,
.card-evaluaciones td {
    padding: 15px;
    border: 1px solid #d9ded9;
    text-align: center;
}

.card-evaluaciones tbody tr {
    background: var(--primary-hover);
    transition: 0.5s;
}

.card-evaluaciones tbody tr:hover {
    background: var(--primary);
}
.card-evaluaciones tbody tr:hover .nota{
    scale: calc(1.3); rotate:calc(7deg)  ;
}

.card-evaluaciones th {
    font-size: 16px;
}

.card-evaluaciones td {
    font-size: 15px;
    color: var(--bg-main);
}

.card-evaluaciones td:last-child {
    text-align: left;
}

/* Nota */
.nota {
    display: inline-block;
    min-width: 40px;
    padding: 4px 12px;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    background: linear-gradient(135deg, #2A4D3E, #6f9276);
    transition: 0.3s;
}

/* =====================================
   MEDIANOS
   ===================================== */

@media (max-width:992px){

main{
    flex: 1;
    padding: 40px 0;
}
}

/* ===========================
   Pantallas medianas
   =========================== */
@media (max-width: 992px){
    .titulo-evaluaciones h2 {
        font-size: 35px;
    }

    .card-evaluaciones table {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
}

/* ===========================
   Pantallas pequeñas
   =========================== */
@media (max-width: 576px){
    .titulo-evaluaciones {
        padding: 30px 20px;
    }

    .titulo-evaluaciones h2 {
        font-size: 28px;
    }

    .titulo-evaluaciones p {
        font-size: 15px;
    }

    .titulo-evaluaciones .volver {
        position: static;
        transform: none;
        margin-bottom: 15px;
    }

    .card-evaluaciones .table-responsive {
        padding: 15px;
    }
}
